<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="flightWindowPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="settingsWindowPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <bool name="showAmbientTemp">1</bool>
    <bool name="showAmbientPressure">1</bool>
    <bool name="showRecoveryTemp">1</bool>
    <bool name="showRecoveryPressure">1</bool>
    <bool name="showInletPercent">1</bool>
    <bool name="showTPR">1</bool>
    <bool name="showInletPressureRatio">1</bool>
    <bool name="showThrust">1</bool>
    <bool name="showTWR">1</bool>
    <bool name="showTDR">1</bool>
    <bool name="showIsp">1</bool>
    <bool name="showTSFC">1</bool>
    <rect name="unitsSettingsWindowPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <string name="pressureUnits">kPa</string>
    <string name="temperatureUnits">kelvin</string>
    <string name="forceUnits">kN</string>
    <string name="ispUnits">s</string>
    <string name="tsfcUnits">kg/kgf-h</string>
</config>